page-about {}

.md ion-content p {
   font-size: 32px;
   text-align: justify;
}

.md ion-content img {
   height: 50%;
}

.ios ion-content p {
   font-size: 22px;
   text-align: justify;
}

.platform-android ion-content p {
   font-size: 22px;
   text-align: justify;
}