page-about {

}

// general styles


// web styles
.md ion-content p {
   font-size: 32px;
   text-align: justify;
 }

.md ion-content img {
   height: 50%;
}


//ios styles
.ios ion-content p {
   font-size: 22px;
   text-align: justify;
}
.ios ion-content img {
  width: 100%;
  height: auto;
}


//android styles
.platform-android ion-content p {
   font-size: 22px;
   text-align: justify;
}
.platform-android ion-content img {
  width: 100%;
  height: auto;
}