    page-subscribe {}
    
    ion-content h1 {
        font-size: 28px;
        margin-top: 15%;
    }
    
    ion-content h2 {
        font-size: 16px;
    }
    
    .md .slide-img {
        width: 30% !important;
        height: 30% !important;
    }
    
    .md .subscribe-card {}
    
    .ios .slide-img {
        width: 45% !important;
        height: 45% !important;
    }
    
    .ios .subscribe-card {
        width: 85%;
        height: 85%;
        background: #f2f2f2;
    }
    
    .ios .cards {
        width: 98%;
        display: inline-block;
    }
    
    .ios .h2 {
        float: left;
        width: 30%;
        margin-top: 10%
    }
    
    .ios .h2-sub {
        // float: right;
        margin-left: 8%;
        float: left
    }
    
    .ios .h2-sub-last {
        margin-left: 8%;
        float: left
    }
    
    .ios .h2-p {
        font-size: 12px;
    }
    
    .platform-android .slide-img {
        width: 45% !important;
        height: 45% !important;
    }
    
    .platform-android .subscribe-card {
        width: 80%;
        height: 80%;
        background: #f2f2f2;
    }
    
    .platform-android .cards {
        width: 98%;
        display: inline-block;
    }
    
    .platform-android .h2 {
        float: left;
        width: 30%;
        margin-top: 10%
    }
    
    .platform-android .h2-sub {
        margin-left: 8%;
        float: left
    }
    
    .platform-android .h2-sub-last {
        margin-left: 8%;
        float: left
    }
    
    .platform-android .h2-p {
        font-size: 12px;
    }
    
    .platform-android ion-content h2 {
        font-size: 15px;
    }