toss-bars{    
}

.maindiv{
    margin: 2% 2% 0% 0%;
}

.mainbar{
    width: 99%;
}

.bars1{
  float: left;
  margin-left: 2%;          
}

.bars2{
  float: right;
  margin-right: 4%;
}

.arrow{
    float: left;
    margin: 5% 0% 0% 6%;
}

.bar{
  width:90px;
  background:grey;
  color:white;
  padding:3px;
  margin: 8%;
}

.bar-split{
  width:90px;
  padding:3px;
  margin: 8%;
}

.bar-black{
  width:90px;
  background:black;
  color:white;
  padding:3px;
  margin: 8%;   
}

.split-one-left{
  width:46.5%;
  background:black;
  color:white;
  padding:3px;
  float:left;
  margin:-3px;
}

.split-one-left-red{
  width:46.5%;
  background:maroon;
  color:white;
  padding:3px;
  float:left;
  margin:-3px;
}

.split-one-right{
  width:46.5%;
  background:black;
  color:white;
  padding:3px;
  float:right;
  margin:-3px;
}

.split-one-right-red{
  width:46.5%;
  background:maroon;
  color:white;
  padding:3px;
  float:right;
  margin:-3px;
}

.split-two-left{
  width:46.5%;
  background:black;
  color:white;
  padding:3px;
  float:left;
  margin:-3px;
}

.split-two-left-red{
  width:46.5%;
  background:maroon;
  color:white;
  padding:3px;
  float:left;
  margin:-3px;
}

.split-two-right{
  width:46.5%;
  background:black;
  color:white;
  padding:3px;
  float:right;
  margin:-3px;
}

.split-two-right-red{
  width:46.5%;
  background:maroon;
  color:white;
  padding:3px;
  float:right;
  margin:-3px;
}